@media (max-width: 1200px){

}

@media (max-width: 1000px){
    
}

@media (max-width: 768px){
    .block{
        width: 400px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .item{
        height: 25vw;
    }
}

@media (max-width: 400px){
    .block{
        width: 96vw;
        grid-template-columns: 1fr;
    }

    .item{
        height: 50vw;
    }
}