.cover{
    display: flex;
    margin: 0;
    padding: 92px 48px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .cover {
       padding: 92px 0;
    }
}
  
@media screen and (max-width: 768px) {
    .cover {
        padding: 88px 0;
    }
}
  
@media screen and (max-width: 425px) {
    .cover {
        padding: 64px 0;
    }
}